@import "tailwindcss";
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100vh;
}

